In [2]:
import pandas as pd
import re

In [3]:
def read_file(exten, file = None, column = None):
    df = None
    if exten == 'csv':
        df = pd.read_csv('data/' + file, encoding = 'utf-8')
    elif exten == 'excel':
        df = pd.read_excel('data/' + file, column, encoding = 'utf-8')
    return df

def sort_remove_duplicates(df):
    #df = df.sort_values("Establishment Name", inplace = True) 
    df.drop_duplicates(subset = "Establishment Name", inplace = True)

### DQ Reading and summary

In [4]:
data = read_file("excel", "34K_Cleansing_source.xlsx", "Sheet1")
data.describe()

,Establishment Name,English Synonyms,Arabic Synonyms
count,34407,1180,1191
unique,33338,279,359
top,شركة تطوير المطاعم المتحدة,There is no Synonym available,There is no Synonym available
freq,2,902,831

### Remove duplicates

In [7]:
sort_remove_duplicates(data)
data.describe()

,Establishment Name,English Synonyms,Arabic Synonyms
count,33338,1180,1191
unique,33338,279,359
top,مطعم السند والبنجاب,There is no Synonym available,There is no Synonym available
freq,1,902,831

### Cleansing

In [13]:
## Columns names


## DQ Sources cleansing
def pipeline_remove_specials_spaces(df):
    tokens = df[][ re.sub("[^\u0621-\u06FF]+", ' ', str(token)) for  token in tokens]
    tokens = [re.sub("[ۭ]+", ' ', token) for  token in tokens]
    tokens = [token.strip() for  token in tokens if len(token.strip()) > 1]
    return tokens

In [11]:
data_clean = data.copy()